/*Recomendaciones OH: 
-elegir un fondo que contraste con el color de las tarjetas
-usar rem o em para el tamaño de las fuentes
-resaltar creador y año con bold u otro efecto
-Mejorar las etiquetas cuando haya cambio a mobile
-mejorar el tamaño de las fuentes cuando haya cambio a mobile
-Usar iconos para explicar el nivel de dificultad (beginner o advance)
-Poner el botón de métricas en la parte derecha separado de los filtros
*/
:root {
  --ff-sans: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 700;

  --fs-small: 0.875rem; /* 14px */
  --fs-normal: 1rem; /* 16px */
  --fs-large: 1.25rem; /* 20px */
  --fs-extra-large: 1.875rem; /* 30px */

  --lh-small: 1.3;
  --lh-normal: 1.5;

  --clr-neutral-50: #fafafa;
  --clr-neutral-200: #e5e5e5; /* header y footer background*/
  --clr-neutral-600: #525252; /* label border */
  --clr-neutral-800: #262626;

  --clr-primary-red: hsl(0, 78%, 62%); /* icono alto */
  --clr-primary-green: hsl(180, 62%, 55%); /* icono bajo */
  --clr-primary-orange: hsl(34, 97%, 64%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  line-height: var(--lh-normal);
}

/*Logo*/
header {
  padding: 0px 20px;
  margin-bottom: 50px;
  width: 100%;
  background-color: var(--clr-neutral-200);
  display: flex;
  text-align: left;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 4rem;
}

h1 {
  font-size: var(--fs-large);
  color: var(--clr-neutral-800);
}

h2 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-800);
  text-align: center;
}

.introduction {
  padding: 20px;
  margin-bottom: 50px;
  color: var(--clr-neutral-600);
  text-align: center;
}

main {
  margin: 0;
}

/*Propiedades de prueba*/
nav {
  margin: 0 20px 50px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*Propiedades de prueba*/
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

/*Select 1 : Tipo*/

/*Select 2: Aplicación*/

/*Select 3: Orden*/

/*Propiedades de prueba*/
button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}

/*Boton 1: Limpiar*/

/*Boton 2: Top 3*/

/*Container de todas las cards*/
ul {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}

/*Container de una sola card*/
.card {
  border: 1px solid #eee;
  flex: 1 1 300px;
  background-color: white;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

/*Container de la imagen*/
.card-image {
  margin: 0;
  position: relative;
}

.image {
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin-bottom: 10px;
}

.card-label {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.824);
  position: absolute;
  margin: 10px;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid var(--clr-neutral-600);
}

.card-label.type {
  top: 0;
  left: 0;
}

.card-label.field {
  top: 12%;
  left: 0;
}

.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  border-radius: 1.25rem;
}

.icon.Bajo {
  background-color: var(--clr-primary-green);
}

.icon.Alto {
  background-color: var(--clr-primary-red);
}


/*Container de todo el texto*/
.card-content {
  display: flex;
  flex-direction: column;
}

.card-text {
  padding: 0 15px;
  margin-bottom: 10px;
}

.card-text.name {
  font-size: 20px;
  font-weight: 600;
}

.card-text.description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; /* Número de líneas a mostrar */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card-text.users {
  display: none;
}

/*Propiedades de Prueba*/
footer {
  padding: 20px;
  background-color: var(--clr-neutral-200);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row; /* Cambiar a dirección de fila en pantallas grandes */
    border: 2px solid red;
  }
}